.dropdown {
  position: relative;
  z-index: 2;
  display: inline-block;
  
  &__list {
    position: absolute;
    width: 100%;
    background: #fff;
    color: rgba(0, 0, 0, .87);
  }
  &__item {
    padding: 10px;
  }
}